.header {
  display: grid;
  position:absolute;
  width: 100%;
  margin-top: -100px;
  margin-right: 25px;
}

.favorits {
  justify-self:flex-end;
  align-self: center;
  text-decoration: none;
  transform: translate(3rem, 2rem);
}

.iconLike {
  margin-bottom: -5px;
  margin-left: 60px;
}

.counter {
  background-color: #ff7000;
  padding: 0.4rem;
  font-size: 12px;
  font-weight: 400;
  font-family: Rubik, sans-serif;
  position: absolute;
  top: -3px;
  right: -10px;
  width: auto;
  line-height: 13px;
  border-radius: 6px;
  color: #fff;
  padding: 0 3.5px;
  border-radius: 50%;
}

@media only screen and (max-width: 498px) {
  .favorits {
    transform: translate(-2rem, 1.5rem);
  }
}

@media only screen and (max-width: 376px) {
  .favorits {
    transform: translate(-0.1rem, -0.5rem);
  }
  .favorits span {
    font-size: 0.7rem;
  }
  .iconLike{
    margin-left: 1px;
    margin-bottom: -10px;
  }
}
